<header class="navbar">
  <div class="navbar-wrapper">
    <div class="logo">
        <img src="../assets/images/logo.png" alt="Logo" />
    </div>
    <nav class="nav">
      <a href="#" style="color: black;">About Us</a>
      <div class="nav-dropdown">
  <select>
    <option selected disabled>Products</option>
    <option>Product A</option>
    <option>Product B</option>
    <option>Product C</option>
  </select>
</div>

      <a href="#" class="contact-btn">Contact Us</a>
    </nav>
  </div>
</header>
