<link rel="stylesheet" href="../css/product-details.css" />

<section class="product-section">
  <div class="product-container">
    <!-- Left: Gallery -->
    <div class="product-gallery">
     
      
  <div class="gallery-wrapper">
    
    <div class="main-image-wrapper">
      <img src="../assets/images/product1.png" alt="Product" class="main-image" />
      <!-- <button class="arrow left">&#8592;</button>
      <button class="arrow right">&#8594;</button> -->
    </div>

    <div class="thumbnails">
      <img src="../assets/images/thumbnail.png" alt="thumb" />
      <img src="../assets/images/thumbnail.png" alt="thumb" />
      <img src="../assets/images/thumbnail.png" alt="thumb" />
      <img src="../assets/images/thumbnail.png" alt="thumb" />
      <img src="../assets/images/thumbnail.png" alt="thumb" />
      
    </div>
  </div>
</div>


    <!-- Right: Product Info -->
    <div class="product-info">
      <div class="certifications">
  <div class="badge">
    <img src="../assets/images/BSI.png" alt="BIS" />
    <span>BIS Certified</span>
  </div>
  <div class="badge">
    <img src="../assets/images/ISO.png" alt="ISO" />
    <span>ISO Certified</span>
  </div>
  <div class="badge">
    <img src="../assets/images/CE Certification.png" alt="CE" />
    <span>CE Certified</span>
  </div>
</div>

      <h2>Premium HDPE Pipes & Coils for Modern Infrastructure</h2>
      <ul class="features">
        <li>Leak-Proof Fusion Joints</li>
        <li>Chemical Resistance</li>
        <li>50+ Year Service Life</li>
        <li>Flexible Installation</li>
        <li>Flexible Installation</li>
      </ul>

      <div class="price-box">
        <p><strong>Price Range</strong></p>
        <h3>₹4,80,000 - 7,90,000</h3>
        <div class="shipping-returns">
          <span class="ship">Shipping: 6–12 days</span>
          <span class="return">Returns: If returned within 7 days</span>
        </div>
        <p class="cert-line">Certifications: ISO Certified, BIS Certified</p>
      </div>

      <div class="action-buttons">
        <button class="primary-btn">Get Custom Quote</button>
        <button class="outline-btn">View Technical Specs</button>
      </div>
    </div>
  </div>
</section>


<!-- Trusted Logos Section -->
<section class="trusted-section">
  <div class="trusted-wrapper">
    <p class="trusted-heading">Trusted by Hundreds of Companies Globally</p>
    <div class="trusted-logos">
      <img src="../assets/images/trustedCompany.png" alt="Logo 1" />
      <img src="../assets/images/trustedCompany.png" alt="Logo 2" />
      <img src="../assets/images/trustedCompany.png" alt="Logo 3" />
      <img src="../assets/images/trustedCompany.png" alt="Logo 4" />
      <img src="../assets/images/trustedCompany.png" alt="Logo 5" />
      <img src="../assets/images/trustedCompany.png" alt="Logo 6" />
    </div>
  </div>
</section>
